{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'server/styles.css' %}">
    <title>Homepage</title>
</head>
<body>
    <h3>Homepage</h3>
    <div class="box" id="box" align="left"></div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input type="file" name="file" id="file-input" download>
    <input id="chat-message-submit" type="button" value="Send">
    <h4 id="user-count"></h4>
    <script src="{% static 'server/websocket.js' %}" type="text/javascript">
    </script>
</body>
</html>