{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    {{questions.0.quiz}}
    <form method="POST" action="{% url 'score' pk=questions.0.quiz.id %}">
        {% csrf_token %}
        {% for question in questions %}
            {% if question.question_type == 'mcq' %}
                <p>{{ question.title }}</p>
                {% if question.question_image.path != "" %}
                    <img src="{{question.question_image.url}}">
                {% endif %}
                <p><input type="radio" name="{{question.title}}" value="{{question.option1}}">{{ question.option1}}</p>
                <p><input type="radio" name="{{question.title}}" value="{{question.option2}}">{{ question.option2}}</p>
                <p><input type="radio" name="{{question.title}}" value="{{question.option3}}">{{ question.option3}}</p>
                <p><input type="radio" name="{{question.title}}" value="{{question.option4}}">{{ question.option4}}</p>
                
                {% else %}
                <p>{{question.title}}</p>
                {% if question.question_image.path != "" %}
                    <img src="{{question.question_image.url}}">
                {% endif %}    
                <input type="text" name="{{question.title}}">
                {% endif %}
            <br>
        {% endfor %}
        <input type="submit" value="Submit" id="submit">
    </form>
{% endblock %}